
  .demo {
    color: black;
    background-color: rgb(216, 231, 255);
    font-size: 18px;
    width: 360px;
    height: 35px;
    padding-left: 80px;
    padding-top: 14px;
    margin-top: 20px;
    margin-left: 527px;
    border-radius: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  img.c {
    margin-left: 173px;
    width: 293px;
    height: 140px;
    border-radius: 13px;
  }
  
  p.k {
    margin-left: 150px;
  }
  
  .demoII {
    width: 20%;
    display: inline-block;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px; 
    margin: 2%;
    position: relative;
    left: 635px;
    background-color: rgba(255, 255, 255, 0.747);
  }

  .demoii-img img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .demoii-title {
    text-align: center;
    padding: 10px;
  }
   .demoii-title h1 {
    font-size: 20px;
   }
   
   .demoii-des {
    padding: 3px;
    text-align: center;
   
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
   }
  span.ll {
    background-color: rgb(216, 231, 255);
    display: inline-block;
    font-size: 15px;
    width: 300px;
    height: 150px;
    margin-left: 142.5px;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  

  .doctorsDataCardd{
   background-color: #fcfcfc9f;
    width: 400px;
    height: 270px;
    border-radius: 20px;
    margin-top: 230px;
    margin-left: 20px;

}

.DocPhoto{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-top: -140px;
    margin-left: 77px;
}

.docDaataaa{
    color: black;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.btn-boo {
  position: relative;
 left:120px;
 bottom: 1px;
}
.bo-bo-bo {
  position: relative;
  left: 10px;
  text-align: center;
}

.da-doc-ba {
position: relative;
left: 55px;

}

