@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.containerf {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-containerf {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signupf {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}




.sign-in-formf {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.titlef {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-fieldf {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-fieldf i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-fieldf input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-fieldf input::placeholder {
  color: #aaa;
  font-weight: 500;
}




.btnf {
  width: 150px;
  background-color: #2242a0;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
 
 

}

.btnf:hover {
  background-color: rgb(5, 35, 126);
}
.panels-containerf {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.containerf:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background: linear-gradient(-45deg, #05445E 0%, #189AB4 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.imagef {
  width: 110%;
  position: relative;
  top: 10%;
  left: 10%;
}

.panelf {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panelf {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panelf {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panelf .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h1 {
  font-weight: 600;
  line-height: 1;
  font-size: 3rem;
  position: relative;
  top: -70px;
  left: 80px;
  color: #ffffff;
}

.panelf p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}



.right-panelf .image,
.right-panelf .content {
  transform: translateX(800px);
}

/* ANIMATION */


@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
 
  }

 

  .panels-containerf {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panelf {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panelf {
    grid-row: 3 / 4;
  }

  .left-panelf {
    grid-row: 1 / 2;
  }

  .imagef {
    width: 100px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

.containerf:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }}

.logof{
  position: relative;
  top: -5%;
  left: -95%;
  width: 100px;
  height: 90px;
}
.health-caref{
  width: 495px;
  position: relative;
  top: -3%;
}

.colorf{
  width: 150px;
  background-color: #ffffff;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #2242a0;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}
.colorf:hover {
  background-color: #fbf8f8;
  color: #5995fd;
}

.log-dia {
  position: relative;
  left:410px;
}


