
.containerr {
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
  }
  
  .containerr h1 {
    text-align: center;
  }
  
  .first-rowr {
    display: flex;
  }
  
  .ownerr {
    width: 100%;
    margin-right: 40px;
  }
  
  .input-fieldr {
    border-radius: 20px;
  }
  
  .input-fieldr input {
    width: 100%;
    outline: none;
    padding: 10px;
  }
  
  input {
    font-size: 15px;
  }
  
  .selectionr {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .selectionr select {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
  }
  
  ar {
    background-color: dodgerblue;
    color: white;
    border-radius: 25px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
  }
  
  ar:hover {
    background-color: blueviolet;
  }
  
  .cardsr img {
    width: 100px;
  }
  








  .btext1 {
    font-size: 45px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  
  .bimg1{
    opacity: 1;
    margin-top: 130px;
    margin-left: 8%;
    width: 550px;
    border-radius: 20px;
    height: 320px;
    transition: 0.5s ease;
  }
  .bimg1:hover {
    opacity: 0.6;
  }
  
 
.bcard1 {
  margin-left: 50%;
}

.imgg1 {
  opacity: 1;
  margin-top: 50px;
  width: 70%;
  border-radius: 20px;
  height: auto;
  transition: 0.5s ease;
} 



.bimg3{
  opacity: 1;
  margin-top: -320px;
  margin-left: 54%;
  width: 550px;
  border-radius: 20px;
  height: 350px;
  transition: 0.5s ease;
}
.bimg3:hover {
  opacity: 0.6;
}



bttts1{
  background-image: url("Q53WREUFVBGZNB6UCVC6KNWNPA.jpg");
width: 500px;
height: 500px;

}