.doc_centre{
text-align: center;
align-items: center;
}

.carddd{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    background-color: rgba(165, 165, 189, 0.603);
    margin: auto;
    padding: auto;
    border: 20px;
    border-radius: 20px;
    text-align: center;
    font-family: arial;

}


.revvv{
  width: 300px;
color: black;
background-color: rgba(211, 218, 215, 0.575);
border-radius: 15px;
border-color: black;
}


.tablle{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color: rgb(255, 255, 255);
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f248;
  }

  .buttton {
    background-color: #a32847; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
border-radius: 30px;

  }
  
 
  
  .buttton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }



  .conntainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  


  .revRateCard{
    background-color: #eee;
    margin-top: 10px;
    width: 450px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    left: 615px;
}

.inputReview{
    resize: none;
    margin: 10px;
    width: 420px;
    height: 200px;
    border: 0.001px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.submittingg{
    margin-left: 230px;
    margin-top: 5px;
    font-size: 22px;
    width: 150px;
    height: 50px;
    background:  #016ABC ;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
}

.submittingg:hover{
    background: #7eb1db;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    cursor: pointer;
}

.rateSelect{
    border-radius: 20px;
    font-size: 15px;
    float: left;
    margin-left: 13%;
    width: 80px;
    height: 46px;
    padding: 0 10px;
    margin-top: -48px;
}








.abooking-card-container{
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: auto;
}

.abooking-card-1{
 display: flex;
 background: rgb(240,242,242);
 background: linear-gradient(63deg, rgba(240,242,242,1) 0%, rgba(222,222,222,1) 100%);
 border-radius: 20px;
 
}


.abooking-card-text-1{
 width: 70%;
 padding: 20px;
}

.abooking-card-text-1 p {
  font-size: 25px;
}
.atables{
  display: flex;
  flex-direction: column;
  
  

}

.atables .atable1 , .table2 , .table3,.table4{
 display: flex;
 justify-content: space-between;
 padding-top: 20px;
 
}
.ahos-name{
  background-color: #b0b8b9;
  color: #000000;
  border: 1px solid rgb(9, 9, 66);
  border-radius: 10px;

}
.atable1 .ahospital-name , .atable2 .ahospital-name , .atable3 .ahospital-name,.atable4 .ahospital-name {
  text-align: center;  
  width: 250px;
}
.atim{
  background-color: rgb(255, 255, 255);
  width: 230px;
  border: 1px solid rgb(9, 9, 66);
  border-radius: 10px;
  position: relative;
  left: 70px;
  text-align: center; 
}
.atable1 .atime,.atable2 .atime,.atable3 .atime,.atable4 .atime{
  width: 230px;
}
.ada{
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 50px;
  border-radius: 10px;
  margin-left: 80px;
  text-align: center; 
  border: 1px solid rgb(9, 9, 66);
}
.atable1 .aday , .atable2 .aday , .atable3 .aday,.atable4 .aday{
  width: 120px;
  
 

}
.atable1 .abtn , .atable2 .abtn , .atable3 .abtn,.atable4 .abtn{
  background: #F8AFA6;
  background-image: -webkit-linear-gradient(top, #F8AFA6, #693b3b);
  background-image: -moz-linear-gradient(top, #F8AFA6, #693b3b);
  background-image: -ms-linear-gradient(top, #F8AFA6, #693b3b);
  background-image: -o-linear-gradient(top, #F8AFA6, #693b3b);
  background-image: linear-gradient(to bottom, #F8AFA6, #693b3b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 20%;
  position: relative;
  left: 100px;

}
.atable1 .abtn:hover , .atable2 .abtn:hover , .atable3 .abtn:hover,.atable4 .btn:hover{
  background: #ff5252;
  background-image: -webkit-linear-gradient(top, #F8AFA6, #c79c85);
  background-image: -moz-linear-gradient(top, #F8AFA6, #c79c85);
  background-image: -ms-linear-gradient(top, #F8AFA6, #c79c85);
  background-image: -o-linear-gradient(top, #F8AFA6, #c79c85);
  background-image: linear-gradient(to bottom, #F8AFA6, #c79c85);
  text-decoration: none;

}

.doc-btn-tn-n {
  position: relative;
  left: 85px;
}

.r-t {
  text-align: center;
}















