div.newscomp{
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 500px;
    height: 500 px;
    border: 50px;
    align-items: center;
   text-align: center;
   background-color: rgba(13, 95, 83, 0.205);
   padding: 20px;
    }

    img.n{
      text-align: center;
width:350px ;
height: 350 px ;
border-radius: 40px;
border-color: blue;
    }
    
    .grid-container {
          display: grid;
          
          grid-template-columns: auto auto auto ;
        border-radius: 20px ;
        border: #6c98a8;
          padding: 10px;
        }
        
.grid-item {
  border: 20px cadetblue; 
  padding: 20px;
}
        
          
.navbarm{
    background-color: #6c98a8;
}


div.card{
    font-family: 'Times New Roman', Times, serif;
      
      align-content: center;
     
    }
    div.cardc{
      border: 2px solid rgb(85, 155, 247);
      border-radius: 12px;
      text-align: center;
      padding: auto;
      width: 300px;
   
    
    }
    div.cardinf{
      border: 2px solid rgb(133, 156, 187);
     padding: 25px;
      border-radius: 12px;
      width: max-content;
     background-color: rgba(255, 255, 255, 0.295);
    color: rgb(0, 0, 0);
    }
    td.h{
      border-radius: 12px;
      border: 2px solid rgb(21, 22, 22);
    }
    div.center {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 25px;
    padding: 10px;
    }
    
    .avatar{
      border-radius: 50%;
      border: 2px solid rgb(22, 90, 185);
      background-color: rgb(228, 240, 255);
    }
    h2.info{
      text-align: center;
    }

    
    div.ll{
      text-align: center;
      background-color: rgb(255, 255, 255);
    }
    .searchbar{
      margin-left: 19%;
      padding-top: 64px;
  }
  
  .searchInput{
      width: 70%;
      padding: 20px 24px;
      transition: transform 250ms ease-in-out;
      font-size: 14px;
      line-height: 18px;
      border: 1px solid;
      border-radius: 50px;
      color: #575756;
      
  }
  
  .searchInput::placeholder{
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }
  
  .searchInput:hover {
      background-color: whitesmoke;
      padding: 14px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      /* border-top: 1px solid #575756;
      border-left: 1px solid #575756;
      border-right: 1px solid #575756; */
      border-radius: 0;
      background-position: 100% center;
  }
  
  .searchInput:focus{
      padding: 14px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      /* border-top: 1px solid #575756;
      border-left: 1px solid #575756;
      border-right: 1px solid #575756; */
      border-radius: 0;
      background-position: 100% center;
  }
  